* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(104, 102, 102);
}

a {
    text-decoration: none;
    color: rgb(33, 123, 233);
    font-weight: bold;
    transition: color .1s;
}
  
a:hover {
    color: rgb(104, 102, 102);
}

button {
    background-color: rgb(33, 123, 233);
    border: 0;
    padding: 0.65%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 8px;
}

  button:hover {
    background-color: rgb(104, 102, 102);
}

.post-list {
    margin: 0;
    padding: 0;
}

footer {
    border-top: 1px solid rgb(33, 123, 233);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 75%;
}